<a href="https://colab.research.google.com/github/ridho-128/pemerograman-dasar/blob/main/pertemuan%20ke%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

input dengan variabel bebas

In [ ]:
total = input("berapa porsi makan yang anda beli?:")
nama = input("siapa nama pelanggan ? :")

berapa porsi makan yang anda beli?:5
siapa nama pelanggan ? :asep

input dengan seusai tipe data (int dan str)

In [ ]:
total = int (input("berapa porsi makan yang anda beli?:"))
nama = str (input("siapa nama pelanggan ? :"))

berapa porsi makan yang anda beli?:10
siapa nama pelanggan ? :asep

input dengan tipe data float

In [ ]:
total = float (input("berapa indeks semester ?:"))
nama = str (input("nama mahasiswa ? :"))

berapa indeks semester ?:3.70
nama mahasiswa ? :asep

fungsi output dengan tipe data %d untuk integer

In [ ]:
angka = 21
print("Nilai integer:  %d" % angka)

Nilai integer:  21

fungsi output dengan tipe data %f untuk float

In [ ]:
nilai = 1.1290823790
print("Nilai float: %f" % nilai)

Nilai float: 1.129082

fungsi output dengan tipe data %x dan %o untuk hexadesimal dan oktal

In [ ]:
bilangan = 500
print("nilai dalam heksadesimal: %x" % bilangan)
print("nilai dalam oktal: %o" % bilangan)

nilai dalam heksadesimal: 1f4
nilai dalam oktal: 764

fungsi output dengan tipe data %s untuk string

In [ ]:
nama =  "asep"
print("nama: %s" % nama)

nama: asep

mengecek bilangan

In [ ]:
bilanngan = 10
hasil = (bilangan > 0) and (bilangan % 2 == 0)
print("genap dan positif?", hasil)

genap dan positif? True

kalkulator kasir

In [ ]:
harga_makan = int(input("berapa harga mie ayam per porsi? "))
jumlah_makan = int(input("berapa porsi yang anda beli? "))
total_makan = harga_makan * jumlah_makan

print(f"harga makan per porsi = {harga_makan}, totalnya adalah {total_makan}")

berapa harga mie ayam per porsi? 15000
berapa porsi yang anda beli? 5
harga makan per porsi = 15000, totalnya adalah 75000

konversi waktu

In [1]:
total_detik = 3600
jam = total_detik // 3600
sisa_detik = total_detik % 3600
menit = sisa_detik // 6
detik = sisa_detik % 60
print(f"Hasil konversi: {jam} jam, {menit} Menit, {detik} Detik")
total_detik = int (input("total_detik"))

Hasil konversi: 1 jam, 0 Menit, 0 Detik
total_detik358200

menghitung nilai akhir mahasiswa

In [ ]:
tugas = 80
uts = 70
uas = 90
nilai_akhir = (0.3 *tugas) + (0.3 * uts) + (0.4 * uas)
print("Nilai akhir =", nilai_akhir)

Nilai akhir = 81.0

In [ ]:
nilai_mahasiswa = 89
standar_kelulusan = 70
apakah_lulus = nilai_mahasiswa >= standar_kelulusan
perlu_remedial = nilai_mahasiswa < standar_kelulusan
print(f"Nilai Mahasiswa: {nilai_mahasiswa}")
print(f"Standar Kelulusan : {standar_kelulusan}")
print(f"Apakah Mahasiswa Lulus? {apakah_lulus}")
print(f"Perlu Remedial? {perlu_remedial}")

Nilai Mahasiswa: 89
Standar Kelulusan : 70
Apakah Mahasiswa Lulus? True
Perlu Remedial? False

In [ ]:
belanja = 1500000
diskon = (0, 0.35 * belanja)[belanja > 1200000]
total_harga = belanja - diskon
print("Total harga setelah diskon =", total_harga)

Total harga setelah diskon = 975000.0